#app_container {   
    width: 80%;
    top: 10%;
    margin: 0 auto;
}

#appHeader {
    border: 1px solid black;
    height: 50px;
}
    .logo {
        background: url("../img/logo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        height: 65px;        
    }
    .logo span {
        position: absolute;
        left: -1000px;
    }

#leftContainer {
    position: fixed;
    width: 15%;
    border: 1px solid black;
    margin: 1% 0;
}
    .leftContent {
        padding: 10px 5px;
    }
#rightContainer {
    width: 85%;
    position: fixed;
    left: 26%;
    margin: 1% 0;
}
.leftMenuItem label {
    width: 33%;
}

#MainMenu {
    margin: 0;
    padding: 0;
}
#MainMenu li {
    display: inline;
}

#MainMenu li a {
    margin: 0 10px;
}
#MainMenu li a.indexMenu {
    margin-left: 0px;
}

